/*
	Colors for Bookle
    #343434 	- Font-color to be used as Main color
	#505050 	- Dark Font-color
    #62a426 	- Main Light Green Color
	#87d04b 	- Main Link Green Color
	#412d1b 	- Main Brown Color
	#f2d43f 	- Main light blue Color - for arrows
    #f5f5f5 	- Main background
*/

@import "less/bootstrap.less";
@import "reset.css";
@import "less/utilities.less";

// Container sizes
// --------------------------------------------------

// Mobile Version
@screen-small : (480px);

// Small screen / tablet
@container-tablet:            ((720px + @grid-gutter-width));
 
// Medium screen / desktop
@container-desktop:           ((940px + @grid-gutter-width));
 
// Large screen / wide desktop
@container-lg-desktop:        ((1140px + @grid-gutter-width));

/* =====================================

			FONTS SECTION

===================================== */

//fonts


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
	font-family: 'ChunkFive';
	src: url('fonts/chunkfive-webfont.eot');
	src: url('fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/chunkfive-webfont.woff') format('woff'), url('fonts/chunkfive-webfont.ttf') format('truetype'), url('fonts/chunkfive-webfont.svg#chunkfive-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TStar';
	src: url('fonts/TSTAR-MediumWeb.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@main-font-family :				'TStar', Open Sans, Arial, sans-serif;
@header-font:					'ChunkFive', Open Sans, Arial, sans-serif;

@main-font-color:				#343434;
@main-dark-font-color:			#505050;
@main-link-color:				#87d04b;
@main-green-color:				#62a426;
@main-brown-color:				#412d1b;
@main-background-color: 		#ffffff;
@main-light-blue-color: 		#ebf3fb;

@img-location: 					"../img";
@border-color:					#c9c9c9;

@menu-font-size:				1.1rem;

/* =====================================

			SETTING DEFAULTS

===================================== */

html {
	font-size: 100%;
}

body {
	background-color: @main-background-color;
}

* {
	box-sizing: border-box;
	white-wrap: normal;
	text-decoration: none;
	outline: none;
}

// Assign settings to basic variables

h1, h2, h3, h4, h5, h6, p, a, blockquote, label, li {
	font-family: @main-font-family;
	color: @main-font-color;
	text-decoration: none;
	margin: 0;
	padding: 0;
	letter-spacing: -1;
}

h1 {
	
}

p {
	line-height: 1.5;
	letter-spacing : 1;
	font-size: 1.2rem;
}

a {
	letter-spacing: 1;
}

a:focus {
	outline: none;
	text-decoration: none;
}

/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* =====================================

			COMMON ELEMENTS

===================================== */

//CSS transition 

.transition-delay-setting {
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a:hover, a:active, a:link, a:visited {
	color: @main-font-color;
	outline: none;
}

/* Used in Menu Active*/

.shadow-style-black-inset {
	box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.menu-hover-shadow-style-black-inset {
	box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.shadow-style-white-inset {
	box-shadow:         inset 0 0 10px rgba(255, 255, 255, 0.6);
	-moz-box-shadow:    inset 0 0 10px rgba(255, 255, 255, 0.6);
   -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6);
}

.center-position {
	text-align: center;
	margin: 0px auto;
	vertical-align: middle;
}

.clear-both {
	clear: both;
}

#wrapper {
	max-width: 100%;
	margin: 0px auto;
	width: 100%;
}

/* ======================================

			HEADER SECTION
			
======================================= */
	
header {
	background: #a3c385;
	width: 100%;
	padding-bottom: 60px;	
	
	@media(min-width: @container-desktop) {
		padding-bottom: 0px;
	}
	
	@media(min-width: @container-tablet) {
		background: url('../img/header-texture.png') repeat;
	}
	
	#navigation {
		padding-bottom: 30px;
		.container {
			margin-top: 0;
			
			
			#logo {
				a {
					img {
						z-index: 101;
					}
				}
			}
		}
		
		@media (max-width: @container-tablet) {
			& {
				.container {
					padding: 0;
				}
			}
		
		}
		
		@media (min-width: @container-tablet) {
			& {
				height: 142px;
				width: 100%;
				position: fixed; //Make navigation fixed for higher devices
				top: 0;
				z-index: 101;
				
				&:before {
					width: 100%;
					content: '';
					background-color: @main-background-color;
					border-bottom: 1px solid @border-color;
					height: 66px;
					margin: 0;
					display: block;
					position: absolute;
					z-index: -1;
				}
				
				.toggleMenu {
					display:  none;
					background: @main-link-color;
					padding: 8px 13px;
					float: right;
					
					i {
						color: #fff;
						font-size: 180%;
					}
				}
				
				ul.nav {
					list-style: none;
					float: right;
					line-height: 3.3;
					vertical-align: center;
					
					&:after, &:before {
						content: " "; 
						display: table;
						clear: both;
					}
					
					li {
						margin-right: 1px;
						.transition-delay-setting;
						position: relative;
						float: left;
						cursor: pointer;
						
						&:last-child {
							margin-right: 0;
						}
						
						&:hover {
							background-color: @main-background-color;
							.menu-hover-shadow-style-black-inset;
						}
						
						&.active {
							
							background-color: @main-link-color;
							
							a {
								cursor: default;
							}
														
							&:hover {
								background-color: @main-link-color;
								box-shadow: none;
							}
						}

						&:active {
							.shadow-style-black-inset;
						}					
						
						a {
							padding: 10px 18px;
							color: @main-font-color;
							display: block;
							background: none;
							font-size: @menu-font-size;
							line-height: 2.5;
							
							&:hover {
								background: none;
							}
						}
					}
				}
			}
		}
		
		@media (max-width: @container-tablet) {
			& {
			
				#logo {
					text-align: center;
					float: none;
					clear: both;
					width: 102px;
					margin: 0px auto;
					img {
						
					}
				}
			
				ul.nav {
					width: 100%;
					float: none;
					clear: both;
					background: @main-link-color;
					margin-top: 30px;
					
					li {
						border-top: 1px solid @main-green-color;
						float: none;
						.transition-delay-setting;
						
						&:first-child {
							border-top: 0px;
						}
						
						&:hover {
							.menu-hover-shadow-style-black-inset;
						}
						
						&:active {
							.shadow-style-black-inset;
						}
						
						a {
							background: none;
							text-align: center;
							color: @main-font-color;
							
							&:hover {
								background: none;
							}
						}
					}
				}
			}
		}
		
		@media (min-width: @container-tablet) and (max-width: @container-desktop) {
			ul.nav {
				a {
					padding: 10px 15px;
				}
			}
		}
	}
	
	#statement {
		position: relative;
		padding: 30px 0;
		@media (min-width: @container-tablet) {
			margin: 60px 0 0;
			padding-top: 100px;
		}
		
		ul#scene {
			min-height: 350px;
			li {
				clear: both;
				float: none;
				position: relative;
				width: 100%;
				p, em, i {
					font-family: @header-font;
					position: absolute;
				}				
				p {
					color: @main-background-color;
					font-size: 2.0rem;
					padding: 0;
					margin: 0;
					line-height: 1;
					text-rendering: optimizeLegibility !important;
					-webkit-font-smoothing: antialiased !important;
					display: block;
					font-family: @header-font;
				}
				em {
					color: @main-brown-color;
					font-size: 7rem;
					//font-weight: bold;
					letter-spacing: 1px;
					//letter-spacing: -5px;
				}
				i {
					//font-weight: bold;
					font-size: 4rem;
					color: @main-background-color;
					letter-spacing: 1px;
					//letter-spacing: -5px;
				}
				
				@media(max-width: @screen-small) {
					& {
						clear: both;
						float: none;
						p, em, i {
							position: relative;
							line-height: 1;
							display: inline-block;
						}
						p {
							font-size: 1.8rem;
						}
						em {
							font-size: 3.5rem;
							//letter-spacing: -1px;
						}
						i {
							font-size: 2.4rem;
							//letter-spacing: -1px;
						}
						
						&:first-child {													
							em {
								margin-left: 30px;
								font-size: 5rem;
							}
						}
						
						
						&:nth-child(2) {
							p:first-child {
								margin-top: -20px;
							}
							i {
								margin-left: 10px;
								font-size: 4rem;
								margin-top: 0px;
							}
						}
						
						&:nth-child(3) {													
							p:last-child {
								margin-left: 250px;
							}
						}
						
						&:nth-child(4) {													
							i {
								margin-left: 30px;
								margin-top: -10px;
								font-size: 2.8rem;
							}
						}
					}
				}
				
				/* maintaining the position of the system */
				
				@media (min-width: @screen-small) and (max-width: 550px) {
					& {
						p, em, i {
							position: relative;
							display: inline-block;
							line-height: 1;
						}
						
						p {
							font-size: 1.8rem;
						}
						em {
							font-size: 5rem;
						}
						i {
							font-size: 2.3rem;
						}
						&:nth-child(n) {
							display: inline-block;
						}

						&:nth-child(2) {						
							i {
							   font-size: 3.5rem;
							}
						}
						
						&:nth-child(3) {						
							i {
							   font-size: 2.5rem;
							   margin-left: 40px;
							}
						}
						
						&:nth-child(4) {						
							i {
							   font-size: 3.0rem;
							   margin-left: 0;
							}
						}
						
						&:last-child {						
							em {
							   margin-left: 30px;
							   font-size: 4.0rem;
							}
						}
					}
				}
				
				/* fix font-size for fix container */
				
				@media (min-width: 551px) and (max-width: @container-tablet) {
					& {
						p, em, i {
							position: relative;
							display: inline-block;
							line-height: 1;
						}
						
						p {
							font-size: 1.8rem;
						}
						em {
							font-size: 5rem;
						}
						i {
							font-size: 2.3rem;
						}
						&:nth-child(n) {
							display: inline-block;
						}

						&:nth-child(2) {						
							i {
							   font-size: 4.0rem;
							}
						}
						
						&:nth-child(3) {						
							i {
							   font-size: 3.5rem;
							   margin-left: 40px;
							}
						}
						
						&:nth-child(4) {						
							i {
							   font-size: 4.0rem;
							   margin-left: 40px;
							}
						}
						
						&:last-child {						
							em {
							   margin-left: 30px;
							   font-size: 5.0rem;
							}
						}
					}
				}
				
				@media (min-width: @container-tablet) and (max-width: @container-desktop) {
					& {
						p, em, i {
							position: relative;
							display: inline-block;
							line-height: 1;
						}
						
						p {
							font-size: 2rem;
						}
						em {
							font-size: 6rem;
						}
						i {
							font-size: 3.5rem;
						}
						&:nth-child(n) {
							display: inline-block;
						}
						
						&:nth-child(2) {						
							i {
							   font-size: 5rem;
							}
						}
						
						&:nth-child(3) {						
							i {
							   font-size: 4rem;
							   margin-left: 80px;
							}
						}
						
						&:nth-child(4) {						
							i {
							   font-size: 2.5rem;
							   margin-left: 0px;
							}
						}
						
						&:last-child {						
							em {
							   margin-left: 100px;
							}
						}
					}
				}
				
				@media (min-width: @container-desktop) {
					& {
						position: relative;
						p {
							font-size: 2.0rem;
						}
						em {
							font-size: 7rem;
						}
						i {
							font-size: 4rem;
						}
						&:nth-child(n) {
							display: inline-block;
						}
						&:first-child {						
							p {
								top: 40px;
							}
							
							em {
								left: 220px;
								top: -20px;
							}
							i {
							   left: 550px;
								top: 30px;
							}
						}
						
						&:nth-child(2) {
							top: 90px;
							p {
								left: 0;
								
								&:last-child {
									left: 370px;
									top: 35px;
								}
							}

							i {
								font-size: 5rem;
								left: 70px;
								top: -20px;
							}
						}
						
						&:nth-child(3) {
							top: 140px;
							p {
								left: 890px;
								top: 15px;
							
							}

							i {
								font-size: 5rem;
								left: 240px;
								top: -20px;
							}
						}
						
						&:nth-child(4) {
							top: 140px;

							i {
								font-size: 3rem;
								left: 0;
								top: 30px;
							}
						}
						
						&:last-child {
							em {
								left: 100px;
								top: 180px;
							}
						}
					}
				}
			}
		}
	}
	
	#animated-arrow {
		padding: 0 0 30px 0;
		position: relative;
		height: 165px;
		margin-top: 60px;
		width: 100%;
		.container {
			text-align: center;
			position: relative;
			.animated-box {
				position: relative;
				width: 100%;
				top: 0;
				height: 165px;
				cursor: pointer;
				.box {
					width: 132px;
					height: 165px;
					animation-name: movingArrow;
					animation-duration: 3s;
					animation-iteration-count: infinite;
					display: block;
					margin: 0px auto;
					
					.left-side, .right-side {
						width: 80px;
						float: left;
						margin-right: -14px;
						border-bottom: 8px solid @main-light-blue-color;					
						transform: rotate(45deg);
					}
					
					.right-side {
						transform: rotate(135deg);
						margin-left: -14px;
						margin-right: 0;
					}
				}
				
				@keyframes movingArrow {
					from {
						margin-top: 0%;
						opacity: 1;
					}
					
					to {
						margin-top: 100px;
						opacity: 0;
					}
				
				}
			}
		}
		
		@media(max-width: @container-tablet) {
			& {
				display: none;
			}
		}
	}
}

#body-contents {
	section {
		padding: 60px 0;
		overflow: hidden;
		position: relative;
		
		&:first-child {
			padding-top: 60px;
		}
		
		&:nth-last-child(1), &:nth-last-child(2) {
			padding: 0;
		}
		
		//Make different section of slightly different for better division of contents
		@media (max-width: @screen-small) {
			padding: 60px 0;
			&:nth-child(odd) {
				background: #f9f9f9;
			}
		}
		
		@media (min-width: @container-tablet) {
			& {
				background: url('../img/body-texture-light.png') repeat;
			}
		}
		
		@media (min-width: @container-desktop) {
			& {
				background: url('../img/body-texture.png') repeat;
			}
		}
	}
	
	#background-white {
		background: url('../img/body-texture.png') repeat;
		display: block;
		margin-top: -75px;
		position: absolute;
		transform: rotate(359deg);
		width: 100%;
		height: 30px;
		
		@media (max-width: @container-tablet) {
			& {
				background: #F9F9F9;
			}
		}
		
		@media (min-width: @container-tablet) {
			& {
				background: url('../img/body-texture-light.png') repeat;
			}
		}
		
		@media (min-width: @container-lg-desktop) {
			& {
				background: url('../img/body-texture.png') repeat;
			}
		}
	}
	
	#scrollToTop {
		display: none;
		
		@media(min-width: @container-lg-desktop) {
			position: absolute;
			display: block;
			right: 50px;
			z-index: 90;
			top: 0;
			a {
				border: 4px double @main-font-color;
				border-radius: 50%;
				display: block;
				font-size: 1rem;
				padding: 13px 20px;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				font-weight: bold;
				margin-top: 90px;
				&:hover {
					
				}
				
				&:before {
					border-right: 1px solid #343434;
					content: "";
					display: block;
					height: 90px;
					margin-left: 15px;
					position: absolute;
					top: 0px;
				}
			}
		}
	}
	
	.container {
	
		/* common elements */
		
		h1 {
			color: @main-brown-color;
			font-size: 3.2rem;
			font-weight: bold;
			padding-bottom: 10px;
		}
		
		h2 {
			color: @main-dark-font-color;
			font-size: 1.5rem;
			font-weight: bold;
			padding-bottom: 20px;
		}
		
		p {
			//font-size: 1.0rem;
		}
		
		h5 {
			color: @main-dark-font-color;
			font-size: 1.5rem;
			font-weight: bold;
			padding-bottom: 20px;
		}
	}
	
	/* Services */
	
	#leistungen {
		.container {
			@media (max-width: @container-tablet) {
				& {
					padding: 0 10px;
					&:nth-child(odd) {
						padding: 0;
					}
					
					& div[class^="col-"] {
						padding-left: 0;
						padding-left: 0;
					}
				}
			}
			
			#nosfair-carousel {
				margin: 30px 0;
				width: 100%;
				overflow: hidden;
				
				@media (min-width: 1300px) { // Bigger than @container-lg-desktop 1130px
					& {
						width: 116%;
						margin-left: -8%;
					}
				}
				
				.carousel {  /* fix the padding on the bottom */
					height: 100%;
				}
				
				.carousel-inside {
					//background: url("../img/nosfair-services-background-image.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
					height: 100%;
					width: 100%;
					height: 400px;
					.carousel-inner {
						div.item {
							.carousel-caption {
								padding-bottom: 30px;
								position: absolute;
								top: 60px;
								
								h3 {
									width: 70%;
									margin: auto;
									font-family: @header-font;
									color: @main-background-color;
									font-size: 2rem;
									letter-spacing: 1.2px;
									text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
								}
								
								p {
									width: 70%;
									color: @main-background-color;
									font-size: 1rem;
									margin: auto;
									margin-top: 40px;
								}
								
								@media(max-width: @container-tablet) {
									& {
										h3, p {
											width: 100%;
										}
										
										p {
											font-size: 0.9rem;
										}
									}
								}
							}
						}
					}
					
					
					.carousel-indicators {
						display: none;
					}
					
					.carousel-control {
						cursor: pointer;
					}
				}
				
				@media (max-width: @container-tablet) {
					& {
						.carousel-inside {
							.carousel-inner {
								div.item {
									img {
										max-width: 500%;
									}
								}
							}
						}
					}
				}

				@media (min-width: @container-tablet) {
					& {
						.carousel-inside {
							div.item {
								img {
									max-width: 500%;
								}
								.carousel-caption {
									h3 {
										font-size: 2.0rem;
									}
									
									p {
										font-size: 1rem;
										margin-top: 20px;
									}
								}
							}
						}
					}
				}
				
				@media (min-width: @container-desktop) {
					& {
						.carousel-inside {
							.carousel-inner {
								div.item {
									img {
										max-width: 100%;
									}
									div.carousel-caption {
										h3 {	
											margin-top: 40px;
											font-size: 2.8rem;
										}
										
										p {
											font-size: 1.2rem;
										}
									}
								}
							}
						}
					}
				}
			}
			
			ul#flipping-icons {
				li {
					width: 50%;
					float: left;
					
					img {
						width: 100%;
						opacity: 0.9;
						margin: 0px auto;
						max-width: 200px;
						max-height: 200px;
						border: 1px solid rgba(0, 0, 0, 0.05);
					}
				}
				
				.frameworkImage.ng-move,
				.frameworkImage.ng-enter,
				.frameworkImage.ng-leave				{
					-webkit-transition: linear 1s;
					-moz-transition:  linear 1s;
					-ms-transition:  linear 1s;
					-o-transition:  linear 1s;
					transition:  linear 1s;
					position: relative;
					display: block;
				}
     
				.frameworkImage.ng-leave.ng-leave-active,
				.frameworkImage.ng-move,
				.frameworkImage.ng-enter {
					opacity: 0;
					top: -1000px;
				}
				
				.frameworkImage.ng-leave,
				.frameworkImage.ng-move.ng-move-active,
				.frameworkImage.ng-enter.ng-enter-active {
				  opacity:1;
				  top: 1000px;
				}
				
				
	
				@media (max-width: @container-tablet) {
					& {
						margin-top: 30px;
						li {
							width: 25%;
						}						
					}
				}
			}
		}
		
		@media (max-width: @container-tablet) {
			& {
				padding-bottom: 0;
			}
		}
	}
	
	// Philosophy
	
	#philosophie {	
		
		h1 {
			padding-bottom: 40px;
		}
		
		@media (max-width: @container-tablet) {
			& {
				padding-bottom: 0;
			}
		}
		
		.container  {
			
			@media (max-width: @container-tablet) {
				& {
					
					&:nth-child(2) {
						padding: 0;
					}
					
					.col-md-12 {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
			
			.philosophy-background {
				margin: 30px 0;
				height: 300px;
				overflow: hidden;
				
				@media (min-width: 1300px) { // Bigger than @container-lg-desktop 1130px
					& {
						width: 116%;
						margin-left: -8%;
					}
				}
				
				#think-forward {
					background: url("../img/nosfair-philosophy-background-image.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
					height: 100%;
					width: 100%;
					padding: 80px 10px;
					
					
					h3 {
						color: @main-background-color;
						font-size: 2.8rem;
						font-weight: bold;
						text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
						text-align: center;
					}
					
					p {
						color: @main-background-color;
						//font-size: 1.0rem;
						text-align: center;
						font-weight: bold;
						width: 80%;
						margin: 10px auto 0;
					}
					
					@media (min-width: @screen-small) {
						& {
							padding: 90px 10px 0;
							
							h3 {
								font-size: 2.8rem;
							}
							
							p {
								font-size: 1.2rem;
								width: 80%;
								margin: 0px auto;
							}
						}
					}
					
					@media (min-width: @container-tablet) {					
						& {
							padding: 120px 10px 0;
							
							h3 {
								font-size: 3.3rem;
								padding-bottom: 20px;
							}
							
							p {
								width: 70%;
							}
						}
					}
					
					@media (min-width: @container-desktop) {					
						& {
							h3 {
								font-size: 6rem;
							}
							
							p {
								font-size: 2rem;
								width: 60%;
							}
						}
					}
				}
				
				@media (min-width: @container-tablet) {
					& {
						height: 400px;
					}
				}
			}		
		}	
		
		#contact-information {
			margin-top: 30px;
			
			@media (max-width: @container-tablet) {
				& {
					padding: 0;
										
					.col-xs-12 {
						padding-left: 0px;
						padding-right: 0px;
					
						&:first-child {
							padding-left: 10px;
							padding-right: 10px;
						}
					}
				}
			}
			
			> h4 {
				font-size: 1.6rem;
				font-weight: bold;
				color: @main-dark-font-color;
				padding-bottom: 20px;
			}
			
			.berlinAddress, .thedinghausenAddress, .restOfAddress {
				margin-top: 30px;
				clear: both;
				float: none;
				overflow: hidden;
				
				@media (min-width: @screen-small) {
					& {
						.col-xs-12:first-child {
							padding-top: 30px;
						}
					}
				}
			}
			
			
			ul {
				li {
					font-size: 1.2rem;
					clear: both;
					float: none;
					
					> a {
						cursor: pointer;
						font-size: 1.3rem;
						text-decoration: underline;
					}
				}
			}
			
			.height-fix {
				overflow: hidden;
				
				&:last-child {
					height: 300px;
					width: 100%;
					position: relative;
					
					.angular-google-map {
						width: 100%;
						height: 300px;
						background: #000;
					}
				}
				
				/* Map Section */
				
				.hideOverflow {
					width: 100%;
					height: 100%;
					border: 1px solid @border-color;
				}
				
				
				/* Contact Section */
				h4 {
					font-size: 1.4rem;
					font-weight: bold;
					color: @main-dark-font-color;
					padding-bottom: 20px;
				}
			}
		}
	}
	
	/* About Us section */

	#ueber-uns {
		.container {
			ul {
				
				li {
					
					div.image-box {
						width: 100%;
						max-width: 250px;
						background: #fff;
						padding: 10px;
						border: 5px solid @border-color;
						border-top-left-radius: 50%;
						border-top-right-radius: 50%;
						border-bottom-right-radius: 50%;
						border-bottom-left-radius: 0%;
						position: relative;
						margin: 0px;
						clear: both;
						float: none;
						.transition-delay-setting;
						img {
							border-radius: 50%;
							max-width: 100%;
						}
						
						&:hover {
							animation-name: colorProgression;
							animation-duration: 5s;
							animation-iteration-count: infinite;
							display: block;
						}
						
						@keyframes colorProgression {
							0% {
								background: #fff;
							}
							
							25% {
								background: #62a426; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyYTQyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
								background: -moz-linear-gradient(top,  #62a426 0%, #ffffff 50%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62a426), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  #62a426 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  #62a426 0%,#ffffff 50%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  #62a426 0%,#ffffff 50%); /* IE10+ */
								background: linear-gradient(to bottom,  #62a426 0%,#ffffff 50%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a426', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
							}
							
							50% {
								background: #62a426; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyYTQyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
								background: -moz-linear-gradient(top,  #62a426 0%, #ffffff 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62a426), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  #62a426 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  #62a426 0%,#ffffff 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  #62a426 0%,#ffffff 100%); /* IE10+ */
								background: linear-gradient(to bottom,  #62a426 0%,#ffffff 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a426', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
							}
							
							75% {
								background: #ffffff; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzYyYTQyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
								background: -moz-linear-gradient(top,  #ffffff 0%, #62a426 51%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#62a426)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  #ffffff 0%,#62a426 51%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  #ffffff 0%,#62a426 51%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  #ffffff 0%,#62a426 51%); /* IE10+ */
								background: linear-gradient(to bottom,  #ffffff 0%,#62a426 51%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#62a426',GradientType=0 ); /* IE6-8 */
							}
							
							100% {
								background: #ffffff; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzYyYTQyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
								background: -moz-linear-gradient(top,  #ffffff 0%, #62a426 99%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#62a426)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  #ffffff 0%,#62a426 99%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  #ffffff 0%,#62a426 99%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  #ffffff 0%,#62a426 99%); /* IE10+ */
								background: linear-gradient(to bottom,  #ffffff 0%,#62a426 99%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#62a426',GradientType=0 ); /* IE6-8 */
							}
							
						}
					}
					
					.text-box {
						position: relative;
						width: 100%;
						margin-top: 30px;
						
						h3 {
							color: @main-green-color;
						}
						
						h5 {
							font-size: 1.2rem;
						}
						
						p {
							
						}
					}
					
					@media (max-width: @screen-small) {
						& {
							margin-top: 50px;
							display: block;
						}
					}
					
					@media (min-width: @screen-small) {
						& {
							margin-top: 50px;
							display: block;
						}
					}
					
					@media (min-width: @container-tablet) {
						& {
							margin-top: 50px;
							display: block;
							
							&:nth-child(even) {
								clear: right;
								
							}
							
							&:nth-child(odd) {
								clear: left;
								
							}
						}
					}
					
					@media (min-width: @container-desktop) {
						& {
							margin-top: 50px;
							display: block;
							clear: none;
							&:nth-child(n) {
								clear: none;	
							}
							
							&:nth-child(3n) {
								clear: right;	
							}
							
							&:nth-child(3n+1) {
								clear: left;	
							}
						}
					}
				}
			}
		}
	}
	
	/* Career Section */
	
	#karriere {
		background: #a3c385;
		width: 100%;
		padding: 60px 0;	

		@media(min-width: @container-tablet) {
			background: url('../img/header-texture.png') repeat;
		}
		
		blockquote {
			width: 100%;
			float: none;
			margin: 40px 0px 40px 10px;
			padding: 10px 20px 10px ;
			clear: left;
			
			@media( min-width: @container-tablet) {
				margin-left: 20%;
				width: 80%;
			}
			
			@media( min-width: @container-desktop) {
				margin-left: 10%;
			}
			
			h4 {
				text-align: right;
				color: #fff;
				font-size: 1.3rem;
				font-weight: bold;
			}
			
			p {
				font-style: italic;
			}
		}
		
		h1, p {
			color: #fff;
		}
		
		img {
			max-width: 200px;
			margin-top: 30px;
		}
	}

	/* Contact Section */
	
	#kontakt {
		
		#background-white {
			@media(max-width: @screen-small) {
				& {
					margin-top: -75px;
				}
			}
			
			@media(min-width: @screen-small) {
				& {
					margin-top: -45px;
				}
			}
		}
		
		#contactForm {
			margin-top: 30px;
			vertical-align: middle;
			
			.col-md-12 {
				margin: 0px auto;
				border-radius: 20px;
				border: 3px dashed @border-color;
				overflow: hidden;
				
				.pull-left, .pull-right {
					padding: 20px 15px;
					width: 50%;
				}
				
				@media (max-width: @container-tablet) {
					& {
						.pull-left, .pull-right {
							width: 100%;
							
							&.pull-left {
								padding-bottom: 0;
							}
							
							&.pull-right {
								padding-top: 0;
							}						
						}
					}
				}
			}
			
			.text-center {
				button {
					margin-top: 30px;
					background: @main-link-color;
					border: 1px solid @main-green-color;
					color: @main-font-color;
					.transition-delay-setting;
					
					&:hover {
						background: @main-green-color;
						border: 1px solid @main-link-color;
						.menu-hover-shadow-style-black-inset;
					}
				}
			}
		}
	}
	
	/* AGB and Impressum */
	
	.agbNImpressum {
		background: #a3c385;
		width: 100%;
		padding: 60px 0;	
		margin-bottom: 50px;

		@media(min-width: @container-tablet) {
			background: url('../img/header-texture.png') repeat;
		}
		
		.container {
			h1, p {
				color: #fff;
			}
		}
	}
}

/* Footer Section */
footer {
	padding-bottom: 50px;
	
	a {
		color: @main-link-color;
		text-decoration: none;
		cursor: pointer;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

