#navigation {
    text-align: right;
    float: right;
    z-index: 999;
}

#navigation .nav {
    list-style: none;
     *zoom: 1;
     background: #1c628f;
	 float: right;
}

#navigation .nav:before,
#navigation .nav:after {
    content: " "; 
    display: table; 
}

#navigation .nav:after {
    clear: both;
}

#navigation .nav ul {
    list-style: none;
    min-width: 11em;
    text-align: left;
    width: 630px;
}

#navigation .nav a {
    padding: 18px 10px;
    color: #fff;
}

#navigation .toggleMenu {
    display:  none;
    background: #111111;
    padding: 10px 13px;
    color: #fff;
	margin-top: 10px;
}

#navigation .toggleMenu:hover {
    color: #fff;
}

#navigation .nav li.special a {
    font-style: italic;
}

#navigation .nav li {
    position: relative;
}

#navigation .nav > li {
    float: left;
}

#navigation  .nav > li > .parent {
    background-image: url("../img/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 10px;
}

#navigation .nav > li.test:hover {
    background: #e8051c;
}

#navigation .nav > li > a {
    display: block;
	font-size: 150%; 
}

#navigation .nav > li > a em {
    font-weight: bold;
}

#navigation .nav > li:hover, .nav > li > a:hover {
    background: none;
    color: #bce3c5;
}


@media screen and (min-width: 769px) {
    
    #navigation .nav {
        float: right;    
    }
    
    #navigation .nav ul {
        margin-left: 0px;
    }
    
    .special, .toggle {
        display: none;
    }
    
    #navigation .toggleMenu {
        display: none!important;
    }
    
    
    #navigation li:nth-child(2n) ul {
        margin-left: -97px;
    }
    
    #navigation li:nth-child(3) ul {
        margin-left: -203px;
    }
    
    #navigation ol.elements li h2 {
        font-size: 80%;
        line-height: 1;
        font-weight: bold;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    
    #navigation .nav > li > .parent {
        margin-right: 5px;
    }
    
    #navigation .nav a {
		padding: 18px 8px;
		font-size: 90%;
    }
    
    #navigation li:nth-child(2n) ul {
        margin-left: -75px;
    }
    
    #navigation li:nth-child(3) ul {
        margin-left: -165px;
    }
    
    #navigation ol.elements li.big-screen img {
        max-width: 100px;
        height: auto;
    }
    
    #navigation .nav ul {
        width: 480px;
    }
}

@media screen and (max-width: 768px) {
    #navigation .active {
        display: block;
    }
    
    .big-screen, .big-screen-text {
        display: none;
    }
    
    #navigation .toggleMenu {
		clear: both;
		float: none;
    }
    
    #navigation  ul.nav {
		clear: both;
		float: none;
    }
        
    #navigation .nav > li {
        float: none;
        text-align: right;
        z-index: 1000;
        background: #0a3b5b;
		clear: both;
		min-width: 170px;
		line-height: 1.0;
		border-top: 1px solid #044269;
	}
}

@media screen and (max-width: 500px) {
	h3 {
		font-size: 160%;
	}
}