<script src="js/modernizr.custom.js"></script>
<div class="container">
	<h1>{{aboutUsTitle}}</h1>
	<h2>{{aboutUsSubHeading}}</h2>
	
	<p>{{aboutUsTextDescription}}</p>
</div>

<div class="container">
	<ul id="team-intro">
		<li data-ng-repeat="teamMember in ourTeam" class="col-xs-12 col-sm-6 col-md-4">
			<div class="image-box">
				<img data-ng-src="{{teamMember.SmallImage}}" alt="{{teamMember.Name}}">
			</div>
			<div class="text-box">
				<h3>{{teamMember.Name}}</h3>
				<h5>{{teamMember.Position}}</h5>
				<p>{{teamMember.Description}}</p>
			</div>
		</li>
	</ul>
</div>