<div class="container">
	<h1>{{careerTitle}}</h1>
	
	<p>{{careerTextDescription}}</p>
	
	<!--
	<blockquote>
		<p>{{quoteText}}</p>
		
		<h4>- {{quoteAuthor}}</h4>
	</blockquote>
	
	-->

	<p>{{linkDescription}}</p>
	
	<a ng-href="{{imageLink}}"><img ng-src="{{imageLocation}}" alt="{{imageAlt}}"></a>

</div>