<div id="background-white"></div>
<div class="container">
	<h1>{{contactUsTitle}}</h1>
	<p>{{contactUsDescription}}</p>
</div>

<div id="contactForm" class="container">
	<form class="horizontal" name="userForm">
		<div class="col-md-12">
			<div class="pull-left">
				<div class="form-group">
					<label for="companyName">Frima</label>
					<input type="text" id="companyName" class="form-control" title="Firma" name="companyName" pattern="[A-Za-z0-9ÀÁÄÈÉËÌÍÏÒÓÖÙÚÜßàáäèéëìíïòóöùúü]*+" data-ng-model="user.companyName" data-ng-value="Nosfair">
				</div>
				
				<div class="form-group">
					<label for="vorname">Vorname* {{vorname}}</label>
					<input type="text" data-ng-model="user.vorname" pattern="[A-Za-z0-9ÀÁÄÈÉËÌÍÏÒÓÖÙÚÜßàáäèéëìíïòóöùúü]+" id="vorname" class="form-control" title="Ihr Vorname" required>
				</div>
				
				<div class="form-group">
					<label for="nachname">Nachname*</label>
					<input type="text" data-ng-model="user.nachname" id="nachname" pattern="[A-Za-z0-9ÀÁÄÈÉËÌÍÏÒÓÖÙÚÜßàáäèéëìíïòóöùúü]+" title="Ihr Nachname" class="form-control" required>
				</div>
				
				<div class="form-group">
					<label for="telefonnummer">Telefonnummer</label>
					<input type="number" id="telefonnummer" data-ng-model="user.telefonnummer" max-length="14" min-length="11" width="100" class="form-control">
				</div>
				
				<div class="form-group">
					<label for="email">Email*</label>
					<input type="email" id="email" data-ng-model="user.email" class="form-control" required novalidate>
				</div>		
			</div>	

			<div class="pull-right">	
				<div class="form-group text-area-group">
					<label for="message">Nachtricht*</label>
					<textarea type="text" id="message" data-ng-model="user.message" rows="15" class="form-control" required></textarea>
				</div>
			</div>		
		</div>
						
		<div class="form-group button-group text-center">
			<button type="submit" id="send" class="btn btn-default" data-ng-disabled="userForm.$invalid" data-ng-click="sendEmail(user)">{{contactUsButtonText}}</button>
		</div>
	</form>
</div>

<div class="container">
	<p class="alert alert-success" data-ng-show="isSuccessOrError('success')">{{thankYouTitleTextDescription}}</p>
	<p class="alert alert-danger" data-ng-show="isSuccessOrError('error')">{{thankYouTitleTextDescription}}</p>
</div>