<header id="start" data-ng-include="'partials/inc/header-template.html'"></header>

<div id="body-contents" class="clear-both">
	<section id="leistungen" data-ng-include="'partials/services.html'"></section>
	<section id="philosophie" data-ng-include="'partials/philosophy.html'"></section>
	<section id="ueber-uns" data-ng-include="'partials/about-us.html'"></section>
	<section id="karriere" data-ng-include="'partials/career.html'"></section>
	<section id="kontakt" data-ng-include="'partials/contact-us.html'"></section>
	<section id="agb">
		<div class="agbNImpressum" data-ng-show="isShown('agb')" data-ng-include="'partials/agb.html'"></div>
	</section>
	<section id="impressum">
		<div class="agbNImpressum" data-ng-show="isShown('impressum')" data-ng-include="'partials/impressum.html'"></div>
	</section>
</div>

<footer class="clear-both" data-ng-include="'partials/inc/footer-template.html'"></footer>	