<div class="container">
	<h1>{{philosophyTitle}}</h1>
	<p>{{philosophyTextDescription}}</p>
</div>

<div class="container">
	<div class="philosophy-background">
		<div id="think-forward">
			<h3>{{imageHeading}}</h3>
			<p>{{imageTextDescription}}</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-12">
		<h5>{{balanceTitle}}</h5>
		<p>{{balanceDescription}}</p>
	</div>
</div>

<!-- Contact Us Section -->
<div id="contact-information" class="container">
	<!-- Contact Information -->
	<div class="col-lg-12">
		<h1>{{philosophyContactTitle}}</h1>
	</div>
	
	<div class="berlinAddress">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<div class="height-fix">
				<h4>{{berlinContactTitle}}</h4>
				<ul data-ng-bind-html="philosophyBerlinContactAddress"></ul>
			</div>			
		</div>
		
		<!-- Google map -->
		<div class="col-md-9 col-sm-8 col-xs-12">
			<div class="height-fix">
				<leaflet defaults="homeDefaults" center="home" markers="homeMarkers" height="480px" width="100%"></leaflet>
			</div>
		</div>
	</div>
	
	<div class="restOfAddress">
		<ul class="col-lg-12">
			<li class="telephone">{{philosophyContactTelephone}}</li>
			<li class="email">{{philosophyContactEmail}}</li>
			<li class="link"><a data-ng-click="gotoElement('kontakt')">{{philosophyContactLink}}</a></li>
		</ul>
	
	</div>
</div>