<div id="background-white"></div>
<div id="scrollToTop">
	<a data-ng-click="gotoElement('start')" data-ng-bind-html="goToTop"></a>
</div>
<div class="container">
	<h1>{{ourServicesTitle}}</h1>
	<h2>{{ourServicesSubHeading}}</h2>
	
	<p>{{ourServicesTextDescription}}</p>
</div>

<div class="container">
	<div id="nosfair-carousel">
		<div class="carousel-inside">
			<carousel interval="myInterval">
				<slide data-ng-repeat="slide in slides" active="slide.active">
					<img ng-src="{{slide.Image}}" style="margin: auto;">
					<p>{{slide.Image}}</p>
					<div class="carousel-caption">
						<h3>{{slide.Title}}</h3>
						<p>{{slide.Description}}</p>
					</div>
				</slide>
			</carousel>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-sm-12 col-md-7 col-lg-8">
		<h5>{{programmingFrameworkHeading}}</h5>
		<p>
			{{programmingFrameworkTextDescription}}
		</p>
	</div>
	
	<div class="col-sm-12 col-md-4 col-lg-3 pull-right">
		<ul id="flipping-icons">
			<li data-ng-repeat="framework in frameWorkRepeater track by $index | limitTo: showFrameworksNumber">
				 <img data-ng-src="{{ framework.source }}" title="{{ framework.title }}" class="frameworkImage"/>
			</li>
		</li>
	</div>
</div>

<script type="text/javascript">
	$('#nosfair-carousel').carousel();
</script>