<div class="container">
	<span class="pull-left">{{currentDate | date:'yyyy'}} © alokpant · <!--<a data-ng-click="showHiddenDiv(1)">AGB</a> · --><a data-ng-click="showHiddenDiv(2)">Impressum</a>
</div>