<div id="navigation">
	<div class="container">
		<div id="logo">
			<a href="/" class="pull-left"><img width="150" src="img/alokpant-logo.png" alt="Official Logo of alokpant"></a>
		</div>
		<ul class="nav">
			<li ng-class="{ active: isActive('/start')}"><a data-ng-click="gotoElement('start')">Start</a></li>
			<li ng-class="{ active: isActive('/leistungen')}"><a data-ng-click="gotoElement('leistungen')">Leistungen</a></li>
			<li ng-class="{ active: isActive('/philosophie')}"><a data-ng-click="gotoElement('philosophie')">Philosophie</a></li>
			<li ng-class="{ active: isActive('/ueber-uns')}"><a data-ng-click="gotoElement('ueber-uns')">Über Uns</a></li>
			<li ng-class="{ active: isActive('/karriere')}"><a data-ng-click="gotoElement('karriere')">Karriere</a></li>
			<li ng-class="{ active: isActive('/kontakt')}"><a data-ng-click="gotoElement('kontakt')">Kontakt</a></li>
		</ul>
	</div>
</div>

<div id="statement">
	<div class="container">
		<ul id="scene" class="scene" data-ng-bind-html="headerText"></ul>
	</div>
</div>

<div id="animated-arrow">
	<div class="container">
		<div class="animated-box">
			<a data-ng-click="gotoElement('leistungen')" class="box">
				<i class="left-side"></i>
				<i class="right-side"></i>
			</a>
		</div>
	</div>
</div>